@media screen and (max-width: 1100px) {
    .header {
        display: grid;
        grid-template-columns: minmax(auto, 100px) minmax(auto, 450px) minmax(auto, 450px) minmax(auto, 100px);
        grid-template-rows: 120px 40px 40px 230px 128px 237px;
        grid-template-areas: '. he1 he4 .' '. he2 he2 he2' '. he3 he3 he3' '. he5 he5 he6' 'he7  he7 he7 he7 ' '. . . .';
        background-image: url(../img/top-bg-1.png);
        background-repeat: no-repeat;
        background-position: top;
    }
    .text__style_4 {
        margin: 0px 24px 0px 0px;
    }
    .header__item_3 {
        margin: 0px 0px 0px 0px;
        align-self: center;
    }
    
}