@media screen and (max-width: 1400px) {
    .security {
        grid-template-columns: minmax(auto, 466px) minmax(auto, 467px) minmax(auto, 466px);
        grid-template-areas: 'se7 . . ' 'se11 se21 se31 ' 'se12 se22 se32 ' 'se5 se5 . ';
    }
    .security_2 {
        grid-template-columns: minmax(30%, 973px) 336px minmax(auto, 490px);
    }
    .blog__item_8 {
        display: none;
    }
    .blog__item_4 {
        grid-column: 1/4;
        grid-row: 4;
        justify-self: center;
        margin: 0 auto;
    }
    .blog__item_9 {
        grid-column: 1/4;
        grid-row: 4;
        display: grid;
        align-self: end;
        justify-self: center;
    }
    .blog__item_4>div {
        width: auto;
        text-align: center;
    }
    .footer__item_2>div {
        text-align: center;
    }
    .blog__item_9 div {
        width: 100%;
    }
    .footer__item_7 {
        grid-column: 2/6;
    }
    .footer__item_4 {
        grid-row: 3/4;
    }
}