body {
    font-family: 'Titillium Web';
    color: #727272;
    border-color: #b9b9b9;
}

a {
    color: #535353;
    text-decoration: none;
}

a:hover {
    font-weight: 700;
}

.wrapper_1800max {
    max-width: 1800px;
    margin: 0 auto;
    /* background-color: aquamarine; */
}

.button {
    background-color: #60316b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 100px;
    outline: none;
}

.button:hover {
    background-color: #535353;
    color: #fc5a5e;
}

.text__color_fc5a5e {
    color: #fc5a5e;
}

.text__color_5b4295 {
    color: #5b4295;
}

.text__color_858688 {
    color: #858688;
}

.text__color_727272 {
    color: #727272;
}

.text__style_1 {
    font-size: 60px;
    margin: 0px 0px 17px 0px;
    font-weight: 600;
    letter-spacing: 0.6px;
}

.text__style_2 {
    font-size: 36px;
    margin: 0px 0px 3px 0px;
    letter-spacing: 0.2px;
    font-weight: 600;
}

.text__style_3 {
    font-size: 30px;
    font-weight: 700;
    margin: 0px 0px 10px 0px;
}

.text__style_4 {
    font-size: 16px;
    font-weight: 500;
    margin: 0px 12px 0px;
    display: inline-flex;
}

.text__style_5 {
    font-size: 15px;
    font-weight: 600;
}

.text__style_6 {
    font-size: 14px;
    font-weight: 400;
    word-spacing: 7px;
}

.text__style_7 {
    font-weight: 400;
}

.text__style_8 {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin: -2px 0px 0px 0px;
    color: #555555;
}

.text__style_9 {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.24px;
    margin: 3px 0px 0px 0px;
}

.text__style_10 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.15px;
    margin: 0px 22px 0px 22px;
    line-height: 22px;
}

.text__style_11 {
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 0.6px;
    text-align: end;
    margin: 0px 38px 0px 0px;
    color: #535353;
}

.text__style_12 {
    font-size: 24px;
    font-weight: 600;
    line-height: 22px;
    text-align: end;
    margin: 17px 42px 0px 0px;
    color: #959393;
    letter-spacing: 0.04px;
}

.text__style_13 {
    font-size: 24px;
    color: #101010;
    font-style: italic;
    line-height: 30px;
}

.text__style_14 {
    font-size: 16px;
    color: #727272;
    font-style: italic;
    margin: 11px 0px 0px 0px;
}

.text__style_15 {
    font-size: 36px;
    color: #535353;
}

.text__style_16 {
    font-size: 16px;
    color: #959393;
    letter-spacing: 0.18px;
    line-height: 22px;
    font-weight: 500;
}

.text__style_17 {
    font-size: 36px;
    color: #535353;
    letter-spacing: 0.28px;
    line-height: 22px;
    font-weight: 500;
}

.text__style_18 {
    font-size: 29px;
    color: #7c7c7c;
    letter-spacing: 0.2px;
    line-height: 22px;
    font-weight: 500;
    margin: 17px 0px 0px 0px;
}

/* style */

.style__border_right_1 {
    border-right: 1px solid #b9b9b9;
}

.style__border_top_1 {
    border-top: 1px solid #b9b9b9;
}

.style__border_bottom_1 {
    border-bottom: 1px solid #b9b9b9;
}

.style__border_left_1 {
    border-left: 1px solid #b9b9b9;
}

.style__border_1 {
    border: 1px solid #b9b9b9;
}

/* header */

.header__item_1 {
    grid-area: he1;
    align-self: end;
}

.header__item_2 {
    grid-area: he2;
    align-self: center;
}

.header__item_3 {
    grid-area: he3;
    align-self: end;
    margin: 0px 0px 16px 16px;
}

.header__item_4 {
    grid-area: he4;
    align-self: end;
    justify-self: end;
    font-weight: 600;
}

.header__item_4>a {
    margin: 0px 0px 0px 0px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.3px;
}

.header__item_4>a>span {
    margin: 0px 4px 0px 0px;
}

.button__menu_authorization {
    padding: 10px 21px 15px 17px;
    margin: 0px 0px 0px 20px;
}

.header__item_5 {
    grid-area: he5;
    align-self: end;
    text-align: center;
}

.header__item_6 {
    grid-area: he6;
    align-self: end;
    justify-self: end;
}

.header__item_6>a>i {
    display: block;
    font-size: 22px;
    margin: 14px 33px 14px 0px;
}

.header__item_6>a>i:hover {
    color: #4360d3;
    font-weight: 400;
}

.header__item_7 {
    grid-area: he7;
    text-align: center;
    align-self: end;
}

.header {
    display: grid;
    grid-template-columns: minmax(auto, 200px) minmax(auto, 200px) minmax(auto, 500px) minmax(auto, 500px) minmax(auto, 200px) minmax(auto, 200px);
    grid-template-rows: 120px 40px 270px 128px 237px;
    grid-template-areas: '. he1 he1 he3 he4 .' '. he2 he2 he2 he2 .' '. he5 he5 he5 he5 he6' '. . he7 he7 . .' '. . . . . .';
    background-image: url(../img/top-bg-1.png);
    background-repeat: no-repeat;
    background-position: top;
}

.button__create_account {
    padding: 19px 63px 19px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.3px;
}

.button__apple {
    font-size: 25px;
    padding: 8px 14px;
    margin: 0px 0px 0px 21px;
}

.button__google_play {
    font-size: 24px;
    padding: 10px 10px 9px 14px;
    margin: 0px 0px 0px 15px;
}

.button__style_1 {
    padding: 0px 30px 5px 30px;
    font-size: 15.2px;
    letter-spacing: 0.3px;
    background-color: white;
    color: #676767;
}

.button__style_1:hover {
    background-color: #535353;
    color: white;
}

/* security  */

.security__item_1_1 {
    grid-area: se11;
    display: -webkit-box;
}

.security__item_1_1>img {
    margin: 0px 18px 0px 21px;
}

.security__item_1_2 {
    grid-area: se12;
}

.security__item_2_1 {
    grid-area: se21;
    display: -webkit-box;
}

.security__item_2_1>img {
    margin: 2px 16px 0px 41px;
}

.security__item_2_2 {
    grid-area: se22;
    margin: 0px 0px 0px 23px;
}

.security__item_3_1 {
    grid-area: se31;
    display: -webkit-box;
}

.security__item_3_1>img {
    margin: 4px 16px 0px 50px;
}

.security__item_3_2 {
    grid-area: se32;
    margin: 0px 0px 0px 28px;
}

.security__item_4 {
    grid-area: se4;
}

.security__item_5 {
    grid-area: se5;
}

.security__item_7 {
    grid-area: se7;
}

.security {
    display: grid;
    grid-template-columns: minmax(auto, 300px) minmax(auto, 415px) minmax(auto, 432px) minmax(auto, 460px) minmax(auto, 192px);
    grid-template-rows: 122px 79px 208px 147px;
    grid-template-areas: '. se7 . . .' '. se11 se21 se31 se4' '. se12 se22 se32 .' '. se5 se5 . .';
}

.security_2__item_1 {
    grid-area: se2_1;
    height: 50%;
}

.security_2__item_2 {
    grid-area: se2_2;
    display: flex;
}

.security_2 {
    display: grid;
    grid-template-columns: minmax(auto, 973px) minmax(auto, 337px) minmax(auto, 490px);
    grid-template-rows: 62px;
    grid-template-areas: 'se2_1 se2_2 .';
}

/* BLOG */

.blog__item_1 {
    grid-area: bl1;
    margin: 0px 0px 0px 21px;
    font-size: 0px;
}

.blog__item_2 {
    grid-area: bl2;
    display: grid;
    align-self: start;
    justify-self: end;
}

.blog__item_2>img:nth-child(1) {
    margin: 5px 23px 6px 0px;
}

.blog__item_2>img:nth-child(n+2) {
    margin: 5px 23px 6px 1px;
}

.blog__item_3 {
    grid-area: bl3;
    width: 540px;
}

.blog__item_4 {
    grid-area: bl4;
    justify-self: end;
    margin: 0px 8px 0px 0px;
    letter-spacing: 0.2px;
}

.blog__item_4>div {
    width: 450px;
    text-align: end;
}

.blog__item_4>div>p:nth-child(1) {
    margin: 0px 0px 0px 0px;
}

.blog__item_4>div>p:nth-child(2) {
    margin: 17px 3px 0px 0px;
}

.blog__item_4>img {}

.blog__item_5 {
    grid-area: bl5;
    text-align: center;
}

.blog__item_5__button_1 {
    margin: 45px 24px 0px 0px;
    font-size: 17px;
    padding: 18px 24px 19px 26px;
    font-weight: 600;
}

.blog__item_5__button_2 {
    margin: 0px 0px 0px 24px;
    font-size: 17px;
    padding: 18px 45px 19px 49px;
    font-weight: 600;
}

.blog__item_6 {
    grid-area: bl6;
}

.blog__item_7 {
    grid-area: bl7;
}

.blog__item_8 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 7;
    background-image: url(../img/book.png);
    background-repeat: no-repeat;
    background-position-x: 952px;
    background-position-y: 106px;
}

.blog__item_9 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 7;
    justify-self: end;
}

.blog__item_9>img:nth-child(1) {
    margin: 149px 10px 0px 0px;
}

.blog__item_9>img:nth-child(2) {
    margin: 0px 7px 0px 0px;
}

.blog {
    display: grid;
    grid: '. . .' minmax(40px, auto) 'bl1 bl1 bl1 ' minmax(125px, auto) 'bl2 bl3 bl3' minmax(266px, auto) 'bl4 bl4 .' minmax(367px, auto) '. bl6 bl6' minmax(82px, auto) 'bl5 bl5 bl5' minmax(244px, auto) / minmax(auto, 400px) minmax(auto, 715px) minmax(auto, 685px);
    background-image: url(../img/Layer-30-bg.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 261px;
}

/* 
footer
50 230 160 100 55
200 400 360 240 200 400
*/

.footer {
    display: grid;
    grid-template-columns: minmax(auto, 200px) minmax(auto, 400px) minmax(auto, 347px) minmax(auto, 240px) minmax(auto, 213px) minmax(auto, 400px);
    grid-template-rows: minmax(36px, auto) minmax(251px, auto) minmax(160px, auto) minmax(100px, auto) minmax(55px, auto);
}

.footer__item_1 {
    grid-column: 1/6;
    grid-row: 1;
    text-align: end;
    border-top: 1px solid;
    border-right: 1px solid;
}

.footer__item_2 {
    grid-column: 1/6;
    grid-row: 2;
    justify-self: end;
    /* margin: 0px 26px 0px 0px; */
    font-size: 0px;
    border-right: 1px solid;
}

.footer__item_3 {
    grid-column: 2;
    grid-row: 3;
}

.footer__item_4 {
    grid-column: 3;
    grid-row: 3/6;
    text-align: end;
    border-right: 1px solid;
}

.footer__item_5 {
    grid-column: 4;
    grid-row: 3;
    text-align: end;
}

.footer__item_6 {
    grid-column: 5;
    grid-row: 3;
    text-align: end;
    border-right: 1px solid;
}

.footer__item_7 {
    grid-column: 2;
    grid-row: 4;
    align-self: end;
}

.footer__item_8 {
    grid-column: 2;
    grid-row: 5;
    align-self: end;
    display: none;
}