body {
    font-family: 'Titillium Web';
    color: #6f6f6f;
}

a {
    text-decoration: none;
    color: #6f6f6f;
}

.button {
    background-color: #5b4295;
    color: white;
}

.header__h2 {
    grid-area: hdh2;
    align-self: end;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
}

.header__menu_language {
    grid-area: hmlg;
    align-self: center;
    font-size: 14px;
    word-spacing: 8px;
}

.header__menu_of_links {
    grid-area: hmli;
    align-self: end;
    margin-bottom: 16px;
    justify-self: end;
    margin-right: 57px;
    word-spacing: 23px;
}

.header__menu_authorization {
    grid-area: hmau;
    align-self: end;
    justify-self: right;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
}

.header__button_menu_authorization {
    padding: 7px 21px 10px;
    border-radius: 30px;
    margin-left: 21px;
}

.header__text_block {
    grid-area: htbl;
    text-align: center;
    align-self: end;
}

.header__slogan {
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.header__slogan_description {
    font-size: 36px;
    margin-top: 17px;
    font-weight: 600;
}

.header__social_icons {
    grid-area: hsic;
    font-size: 30px;
    align-self: end;
    justify-self: right;
}

.header__button_block {
    margin-top: 94px;
    grid-area: hbbl;
    justify-self: center;
    font-size: 18px;
    font-weight: 600;
}

.header__button_create_account {
    padding: 13px 66px 16px;
    border-radius: 28px;
    margin-right: 21px;
}

.header__button_apple {
    padding: 9px 18px;
    border-radius: 50%;
    margin-right: 15px;
}

.header__button_google_play {
    padding: 9px 18px;
    border-radius: 50%;
}

.text_color_red {
    color: #fc5a5e;
}

.text_color_violet {
    color: #5b4295;
}

.header {
    display: grid;
    grid-template-columns: auto repeat(9, 200px) auto;
    grid-template-rows: 120px 40px 266px 368px;
    grid-template-areas: ". . hdh2 hdh2 hdh2 hmli hmli hmli hmau . ." ". . hmlg hmlg hmlg hmlg hmlg hmlg hmlg . ." ". . . htbl htbl htbl htbl htbl hsic hsic ." ". . . . hbbl hbbl hbbl . . . .";
}

.body__header_substrate {
    z-index: -1;
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
}